[submodule "core/philtre"]
	path = core/philtre
	url = git@github.com:JoshuaGrams/philtre2d.git
[submodule "core/ui/ruu"]
	path = core/ui/ruu
	url = git@github.com:rgrams/love-ruu.git
	branch = rewrite
